In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.model_selection import train_test_split

In [3]:
from sklearn.ensemble import RandomForestRegressor as rf
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import VotingClassifier

In [4]:
from sklearn.metrics import  confusion_matrix,log_loss
from scipy.optimize import minimize

In [5]:
import os, time, gc
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler as ss
from sklearn.decomposition import PCA

In [7]:
import warnings
warnings.filterwarnings("ignore")

In [8]:
df = pd.read_csv("/content/walmart-sales-dataset-of-45stores.csv",
                    parse_dates = ['Date']
                )

In [9]:
df.info

<bound method DataFrame.info of       Store       Date  Weekly_Sales  Holiday_Flag  Temperature  Fuel_Price  \
0         1 2010-05-02    1643690.90             0        42.31       2.572
1         1 2010-12-02    1641957.44             1        38.51       2.548
2         1 2010-02-19    1611968.17             0        39.93       2.514
3         1 2010-02-26    1409727.59             0        46.63       2.561
4         1 2010-05-03    1554806.68             0        46.50       2.625
...     ...        ...           ...           ...          ...         ...
6430     45 2012-09-28     713173.95             0        64.88       3.997
6431     45 2012-05-10     733455.07             0        64.89       3.985
6432     45 2012-12-10     734464.36             0        54.47       4.000
6433     45 2012-10-19     718125.53             0        56.47       3.969
6434     45 2012-10-26     760281.43             0        58.85       3.882

             CPI  Unemployment
0     211.096358         8.106
1     211.242170         8.106
2     211.289143         8.106
3     211.319643         8.106
4     211.350143         8.106
...          ...           ...
6430  192.013558         8.684
6431  192.170412         8.667
6432  192.327265         8.667
6433  192.330854         8.667
6434  192.308899         8.667

[6435 rows x 8 columns]>

In [10]:
df.head

<bound method NDFrame.head of       Store       Date  Weekly_Sales  Holiday_Flag  Temperature  Fuel_Price  \
0         1 2010-05-02    1643690.90             0        42.31       2.572
1         1 2010-12-02    1641957.44             1        38.51       2.548
2         1 2010-02-19    1611968.17             0        39.93       2.514
3         1 2010-02-26    1409727.59             0        46.63       2.561
4         1 2010-05-03    1554806.68             0        46.50       2.625
...     ...        ...           ...           ...          ...         ...
6430     45 2012-09-28     713173.95             0        64.88       3.997
6431     45 2012-05-10     733455.07             0        64.89       3.985
6432     45 2012-12-10     734464.36             0        54.47       4.000
6433     45 2012-10-19     718125.53             0        56.47       3.969
6434     45 2012-10-26     760281.43             0        58.85       3.882

             CPI  Unemployment
0     211.096358         8.106
1     211.242170         8.106
2     211.289143         8.106
3     211.319643         8.106
4     211.350143         8.106
...          ...           ...
6430  192.013558         8.684
6431  192.170412         8.667
6432  192.327265         8.667
6433  192.330854         8.667
6434  192.308899         8.667

[6435 rows x 8 columns]>

In [11]:
def mapQuarters(num):
    #This function returns the absolute value of the entered number

    if num >= 1 and num <=3:
        return 1
    if num >= 4 and num <=6:
        return 2
    if num >= 7 and num <=9:
        return 3
    if num >= 10 and num <=12:
        return 4

In [12]:
df['Day'] = df['Date'].dt.dayofweek #0 for monday through 6 for sunday
df['month'] = df['Date'].dt.month
df['quarter']=df['month'].apply(lambda x : mapQuarters(x))

In [13]:
df.drop(['Date'], axis=1, inplace=True)

In [14]:
df['Weekly_Sales'] = np.log(df['Weekly_Sales'])
y=df.pop('Weekly_Sales')
X_train, X_test, y_train,y_test = train_test_split(
                                                   df,
                                                   y,
                                                   test_size = 0.3,
                                                   shuffle= True)

In [15]:
resultsMSE = []
trees = [500,1000,1500,2000]
depth= [3,5,7,9,12]
for tree in range(1,10,1):
  for depth in range(1,15,1):
            clf = rf( n_estimators=tree,
            bootstrap=True,
            oob_score=True,
            max_depth = depth )

            clf.fit(X_train, y_train)
            prediction = clf.predict(X_test)
            mse = mean_squared_error(y_test, prediction)

            rmse = mse**.5
            resultsMSE.append("trees count "+str(tree)+" depth "+str(depth)+" MSE result "+str(mse))
            print("\n MSE: %.2f" %mse)
            print("RMSE: %.2f" %rmse)

 MSE: 0.30
RMSE: 0.55

 MSE: 0.24
RMSE: 0.49

 MSE: 0.19
RMSE: 0.43

 MSE: 0.11
RMSE: 0.33

 MSE: 0.08
RMSE: 0.28

 MSE: 0.06
RMSE: 0.24

 MSE: 0.03
RMSE: 0.18

 MSE: 0.03
RMSE: 0.17

 MSE: 0.05
RMSE: 0.22

 MSE: 0.02
RMSE: 0.14

 MSE: 0.02
RMSE: 0.14

 MSE: 0.02
RMSE: 0.14

 MSE: 0.02
RMSE: 0.15

 MSE: 0.02
RMSE: 0.15

 MSE: 0.30
RMSE: 0.54

 MSE: 0.24
RMSE: 0.49

 MSE: 0.19
RMSE: 0.43

 MSE: 0.11
RMSE: 0.34

 MSE: 0.08
RMSE: 0.29

 MSE: 0.05
RMSE: 0.22

 MSE: 0.04
RMSE: 0.19

 MSE: 0.02
RMSE: 0.14

 MSE: 0.02
RMSE: 0.16

 MSE: 0.01
RMSE: 0.12

 MSE: 0.01
RMSE: 0.12

 MSE: 0.02
RMSE: 0.13

 MSE: 0.02
RMSE: 0.12

 MSE: 0.01
RMSE: 0.12

 MSE: 0.30
RMSE: 0.55

 MSE: 0.24
RMSE: 0.49

 MSE: 0.19
RMSE: 0.43

 MSE: 0.11
RMSE: 0.34

 MSE: 0.08
RMSE: 0.28

 MSE: 0.05
RMSE: 0.22

 MSE: 0.03
RMSE: 0.17

 MSE: 0.02
RMSE: 0.14

 MSE: 0.01
RMSE: 0.12

 MSE: 0.01
RMSE: 0.12

 MSE: 0.01
RMSE: 0.12

 MSE: 0.01
RMSE: 0.11

 MSE: 0.01
RMSE: 0.12

 MSE: 0.01
RMSE: 0.12

 MSE: 0.30
RMSE: 0.54

 MSE: 0.24
RMSE: 0.49

 MSE: 0.18
RMSE: 0.43

 MSE: 0.11
RMSE: 0.34

 MSE: 0.08
RMSE: 0.28

 MSE: 0.05
RMSE: 0.22

 MSE: 0.03
RMSE: 0.16

 MSE: 0.02
RMSE: 0.13

 MSE: 0.02
RMSE: 0.12

 MSE: 0.01
RMSE: 0.12

 MSE: 0.01
RMSE: 0.11

 MSE: 0.01
RMSE: 0.12

 MSE: 0.01
RMSE: 0.11

 MSE: 0.01
RMSE: 0.11

 MSE: 0.30
RMSE: 0.55

 MSE: 0.24
RMSE: 0.49

 MSE: 0.18
RMSE: 0.43

 MSE: 0.11
RMSE: 0.34

 MSE: 0.08
RMSE: 0.29

 MSE: 0.05
RMSE: 0.22

 MSE: 0.03
RMSE: 0.17

 MSE: 0.02
RMSE: 0.13

 MSE: 0.01
RMSE: 0.11

 MSE: 0.01
RMSE: 0.12

 MSE: 0.01
RMSE: 0.11

 MSE: 0.01
RMSE: 0.11

 MSE: 0.01
RMSE: 0.11

 MSE: 0.01
RMSE: 0.11

 MSE: 0.30
RMSE: 0.55

 MSE: 0.24
RMSE: 0.49

 MSE: 0.18
RMSE: 0.43

 MSE: 0.11
RMSE: 0.34

 MSE: 0.08
RMSE: 0.28

 MSE: 0.05
RMSE: 0.22

 MSE: 0.03
RMSE: 0.16

 MSE: 0.02
RMSE: 0.14

 MSE: 0.01
RMSE: 0.12

 MSE: 0.01
RMSE: 0.12

 MSE: 0.01
RMSE: 0.11

 MSE: 0.01
RMSE: 0.11

 MSE: 0.01
RMSE: 0.11

 MSE: 0.01
RMSE: 0.11

 MSE: 0.30
RMSE: 0.55

 MSE: 0.24
RMSE: 0.49

 MSE: 0.18
RMSE: 0.43

 MSE: 0.11
RMSE: 0.34

 MSE: 0.08
RMSE: 0.28

 MSE: 0.05
RMSE: 0.22

 MSE: 0.03
RMSE: 0.17

 MSE: 0.02
RMSE: 0.13

 MSE: 0.01
RMSE: 0.11

 MSE: 0.01
RMSE: 0.11

 MSE: 0.01
RMSE: 0.11

 MSE: 0.01
RMSE: 0.11

 MSE: 0.01
RMSE: 0.11

 MSE: 0.01
RMSE: 0.11

 MSE: 0.30
RMSE: 0.55

 MSE: 0.24
RMSE: 0.49

 MSE: 0.18
RMSE: 0.43

 MSE: 0.11
RMSE: 0.34

 MSE: 0.08
RMSE: 0.28

 MSE: 0.05
RMSE: 0.22

 MSE: 0.03
RMSE: 0.17

 MSE: 0.02
RMSE: 0.14

 MSE: 0.01
RMSE: 0.11

 MSE: 0.01
RMSE: 0.11

 MSE: 0.01
RMSE: 0.11

 MSE: 0.01
RMSE: 0.11

 MSE: 0.01
RMSE: 0.11

 MSE: 0.01
RMSE: 0.11

 MSE: 0.30
RMSE: 0.55

 MSE: 0.24
RMSE: 0.49

 MSE: 0.18
RMSE: 0.43

 MSE: 0.10
RMSE: 0.32

 MSE: 0.08
RMSE: 0.29

 MSE: 0.05
RMSE: 0.22

 MSE: 0.04
RMSE: 0.19

 MSE: 0.02
RMSE: 0.14

 MSE: 0.01
RMSE: 0.12

 MSE: 0.01
RMSE: 0.11

 MSE: 0.01
RMSE: 0.11

 MSE: 0.01
RMSE: 0.11

 MSE: 0.01
RMSE: 0.11

 MSE: 0.01
RMSE: 0.11

In [16]:
# From the above it is seen that the mean squared error(MSE) and root mean squared error(RMSE) is least when the tree depth is 11 ,
# irrespective of the tree size increase after 4.

In [17]:
clf = rf( n_estimators=4,
         max_depth = 11,
         oob_score = True  )

clf.fit(X_train, y_train)
prediction = clf.predict(X_test)
mse = mean_squared_error(y_test, prediction)
rmse = mse**.5
print("\n MSE: %.2f" %mse)
print("RMSE: %.2f" %rmse)

 MSE: 0.01
RMSE: 0.12

# Random Forest Model

K-Fold Cross Validation

In [18]:
from sklearn.model_selection import cross_val_score, KFold

In [19]:
kfold = KFold(n_splits=5, shuffle=True)
kf_cv_scores = cross_val_score(clf, X_train, y_train, cv=kfold )
print("K-fold CV average score: %.2f" % kf_cv_scores.mean())
ypred = clf.predict(X_test)
mse = mean_squared_error(y_test, ypred)
print("MSE: %.2f" % mse)
print("RMSE: %.2f" % (mse**(1/2.0)))

K-fold CV average score: 0.96
MSE: 0.01
RMSE: 0.12

Conclusion

Here, we tried using 3 different algorithms to understand which model to use to predict the weekly sales.

Linear Regression is not an appropriate model to use as accuracy is very low.

However, Random Forest Regression gives accuracy of almost 95% . so, it is the best model to forecast weekly sales.